[package]
name = "xml2arrow"
version = "0.11.0"
edition = "2024"
description = "Efficiently convert XML data to Apache Arrow format for high-performance data processing"
license = "MIT"
repository = "https://github.com/mluttikh/xml2arrow"
keywords = ["xml", "arrow", "parser", "conversion"]
categories = ["data-structures", "encoding"]
readme = "README.md"

[dependencies]
arrow = "57.0.0"
derive_more = { version = "2.0.1", features = ["from"] }
indexmap = "2.12.0"
quick-xml = "0.38.3"
serde = { version = "1.0.228", features = ["derive"] }
serde_yaml = "0.9.34"
string_cache = "0.9.0"
fxhash = "0.2.1"

[dev-dependencies]
rstest = "0.25"
tempfile = "3.20"
approx = "0.5.1"

[features]
python = ["pyo3"]

[dependencies.pyo3]
version = "0.26"
default-features = false
optional = true
